body {
    max-width: 800px;
    margin: auto;
}
pre{
    font-size: 18px;
}
.size{
    font-size: 30px;

}


.title{
    font-size: 48px;
}
a{
    text-decoration: none;
}
.img2{
    width: 572px;
}
* {
    font-family: "Segoe UI Light", "wf_segoe-ui_light", Arial, "Helvetica Neue", Verdana, Helvetica, Sans-Serif;
}
.open-window{
    width: 186px;
    padding: 12px 10px;
    background-color: #0067b8;
    text-align: center;
}